@charset "utf-8";
/* CSS Document */

#shell {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #161616;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#rowBottom {
	clear: both;
	padding-top: 20px;
	padding-bottom: 10px;
	border: 2px solid #000000;
	padding-left: 150px;
	padding-right: 150px;
}

body {
	background-color: #242424;
}
.linkleft {
	left: auto;
	margin-left: 265px;

}
.linkright {
	margin-right: 265px;




}


li {
	display: inline;
	color: #8C8C8C;
}
#columnLeft {
	float: left;
	width: 400px;
	display: block;
	padding-left: 0px;
	border: 2px solid #000000;
}
#columnRight {
	width: 400px;
	display: block;
	float: right;
	border: 2px solid #000000;
}


table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #7A7A7A;
}
#design {

}
#photography {
}
#navbar {
	border: 2px solid #000000;
	background-color: #595959;
	color: #FFFFFF;
	text-align: center;
}
tbody {
	border: 2px solid #FFFFFF;
	display: block;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}


#drawing {
}
td {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-width: 0px;
}
img {
	border: 1px solid #7A7A7A;
}
.skills {
	display: list-item;
	color: #FFFFFF;
	font-family: Montserrat;
}
#skills {

}
h1 {
	color: #FFFFFF;
	font-family: Michroma;
	text-align: left;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
p {
	color: #FFFFFF;
	font-family: Montserrat;
	padding-left: 20px;
}
fieldset {
	width: 0px;
	margin-left: auto;
	margin-right: auto;
}
.inner-container {
}

.nav > li > a {
	text-decoration: none;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: large;
	text-transform: uppercase;
	margin-left: 30px;
	margin-right: 30px;
}
label {
	color: #FFFFFF;
	font-family: Montserrat;
}

.nav > li > a:hover{
	color:#000000;
}
legend {
	color: #FFFFFF;
	font-family: Montserrat;
}
label {
}
body {
}
.hero {
	width: 100%;
	display: block;
}
iframe {
	padding-left: 245px;




}
.performance {


}
.contact a b {
	font-family: Montserrat;
	color: #FFFFFF;
	text-decoration: underline;
}
.DDD {
	color: #FFFFFF;
	font-family: Michroma;
	font-weight: bold;
	float: left;
	font-size: 19pt;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
